:root {
  font-family: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  align-items: center;
}
main {
  border: solid 1px black;
  width: 80vw;
}

.header {
  display: grid;
}

li {
  list-style: none;
}

ul {
  text-align: center;
  padding: 0 0 0 0;
  margin: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

.footerGrid {
  display: grid;
}

.gridItemsBox {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  gap: 20px;
  background-color: burlywood;
}

.gridItems {
  text-align: center;
  height: 346px;
  width: 346px;
  border-style: solid;
  border-radius: 8px;
  background-color: antiquewhite;
}
